input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancel {
    width: auto;
    padding: 10px 16px;
    background-color: red;
    float: left;
    width: 100px;
    padding-left: auto;
    margin-left: 20px;
}

.form_Image {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.image {
    width: 40%;
    border-radius: 50%;
}

.mainWrapper {
    padding: 50px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    width: 700px;
    height: 50px;
    background-color: #ebe8e8;
}


.password {
    float: right;
    width: 160px;
    padding-top: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    font-size: 16px;
    float: right;
    width: 60px;
    position: absolute;
    top: -8px;
    right: 0px;
}

.btn:hover {
    background: #8686868f;
    text-shadow: 0 0 1px #868686;
}